/* 选择框样式 */
.selectDiv {
    border: 2px solid #1abc9c;
    position: absolute;
    width: 0;
    height: 0;
}

/* 计数器样式 */
.tagDiv {
    position: absolute;
    font-size: 12px;
    color: #fff;
    text-align: center;
    line-height: 18px;
    width: 18px;
    height: 18px;
    background-color: #1abc9c;
    border-radius: 9px;
    cursor: pointer;
    top: -22px;
}

.rotate {
    transform: rotate(360deg);
    transition: all 1s;
}
.rotateF {
    transform: rotate(-360deg);
    transition: all 1s;
}
