/* 右键菜单样式 */
.menuUl {
    list-style: none;
    position: fixed;
    width: auto;
    background: red;
    margin: 0;
    padding: 0;
    background: #fff;
    border-radius: 3px;
    display: none;
}
.menuUl>li {
    font-size: 14px;
    cursor: pointer;
    padding: 5px;
}
.menuUl>li:hover {
    background: #eee;
}
.menuUl>li:nth-child(1) {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.menuUl>li:nth-child(3) {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}